# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Test cache
.pytest_cache/

# Type checker cache
.mypy_cache/

# Coverage
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db